<a href="https://colab.research.google.com/github/oqudi7qwiug/PerseCoding5.0/blob/main/PerseCoding5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1) A single line of six space separated positive whole numbers will be entered. Output the
sum of these numbers once having discounted any 13s (which are very unlucky) and also any
number that comes immediately after a 13.

In [1]:
#Final Version

x = input("Enter Your Text: " )

list_x = x.split(" ")



for i in range(len(list_x)):

 if i-1>=0 and list_x[i-1] == "13":
        list_x[i] = "0"
       
for e in range(len(list_x)):
   if list_x[e]=="13":
     list_x[e]="0"


for g in range(len(list_x)):
    list_x[g]=int(list_x[g])

sum(list_x)

Enter Your Text: 13 4 5 13 8 9 3 12

29

In [ ]:
x = 12 13 14 10 3 13 3

for i in x:
  if i == 13:
    i = 0
  if i[] == x.index(13) + 1:
    i = 0

print(i)

SyntaxError: ignored

general note:
convert useless string to integers; mathematical values u can add


 try to use index and hope can index +1 to get rid of what comes after 13???

In [ ]:
x = input("enter your numbers: ")
print(x)

list_x = x.split(" ")

add_up = 0

for i in list_x:
  if int(i) != 13 :
    print(i)
  
  if list_x.index(13)

for i in range(len(list_X)):
  if list_x == 13

enter your numbers: 5 13 12 14 15
5 13 12 14 15
5
12
14
15

In [ ]:
x = "4 13 12 11 13 5"

list_x = x.split(" ")



for i in range(len(list_x)):

 if i > 0 and list_x[i-1] == "13":
        list_x[i] = "0"
       
 if list_x[i]=="13":
   list_x[i]="0"

 else:
   list_x[i]=list_x[i]

print(list_x)

['4', '0', '12', '11', '0', '5']

In [ ]:
x = "5 4 13 6"

list_x = x.split(" ")
print(list_x)


for i in range(len(list_x)):
  if i > 0 and list_x[i-1] == "13":
        list_x[i] = "0"
        
  elif list_x[i]=="13":
      list_x[i]="0"

  print(list_x)

['5', '4', '13', '6']
['5', '4', '13', '6']
['5', '4', '13', '6']
['5', '4', '0', '6']
['5', '4', '0', '6']

In [ ]:
x = "5 4 13 6"
list_x = x.split(" ")
print(list_x)

for i in range(len(list_x)):
    if list_x[i] == "13":
        list_x[i] = "0"


print(list_x)

['5', '4', '13', '6']
['5', '4', '0', '6']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6] # Replace these numbers with your desired values
line = ' '.join(str(num) for num in numbers)
print(line)

number= "1 2 13 4 5 13 4"

for i in number:
  int(i)

1 2 3 4 5 6
1

ValueError: ignored